<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
<h1>Book Club</h1>
<!-- <div class="container">
<img src="https://bjwmartin.files.wordpress.com/2013/01/open_book_2.png" width="300" height="300">
</div> -->
<div class="text-center">
  <img src="https://bjwmartin.files.wordpress.com/2013/01/open_book_2.png" class="rounded" width="300" height="300" >
</div>
