/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.text-center {
  margin-top: 10%;

}

.mb-3 {
  margin: auto;
  padding-top: 5%

}

.card-uniformer{
  width: 30%;
  height: 200px;

}

.review-uniformer{
  height: 55px;
}

.img{
  height: 400px;
  width: 270;
}

.index-uniformer{
  background-color: #8c8c8c;
  height: 660px;
  margin-left: 2.245%;
  margin-right: 2.245%;
  margin-top: 2.245%;
  margin-bottom: 2.245%;
}

.body-bg{
  background-color: #666666;
}

.card-bg{
  background-color: #8c8c8c;
}
